/*Style of Ids*/


#chartContainer{
    height: 800px; /*ToDo:: make this a parameter*/
    width: 1600px; /*ToDo:: make this a parameter*/
}

#chartWrapper {
    position: absolute;
    right: 0;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*Style of classes*/

/*Html basic objects style*/
select{
    background-color: #4CAF50;
    font-size: 13px;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

input{
    background-color: #4CAF50;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    display: inline-block;
}

::placeholder{
    color: #050300;
}